{:deps
 {hiccup {:mvn/version "2.0.0-alpha1"}
  markdown-clj {:mvn/version "1.0.2"}
  org.clojure/tools.nrepl {:mvn/version "0.2.12"}
  com.bhauman/rebel-readline  {:mvn/version "0.1.4"}
  org.clojure/tools.namespace {:mvn/version "0.2.11"}
  cider/cider-nrepl           {:mvn/version "0.18.0"} 
  com.rpl/specter {:mvn/version "1.1.1"}}}
